@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-thinitalic-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-lightitalic-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal; /* 400 */
    font-style: normal;
}

/* regular italic missing*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-mediumitalic-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: bold; /* 700 */
    font-style: normal;
}

/* bold italic missing */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-blackitalic-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

/* For Logotype */
@font-face {
    font-family: 'Norse';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2');
}

:root {
    --color-btn-text: #596D48;
    --color-heading-text: #000000;
    --color-form-header: #1f2937
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body, html {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

main {
    flex: 2 2 905px;

    height: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.sidebar {
    flex: 1 1 535px;

    height: 100%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.sidebar > .credit {
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding-bottom: 14px;
}

.logo-modal {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20vh;
}

.logo-modal > a, a:link, a:visited {
    color: #ffffff;
}

.logo-modal > img { /* logo size */
    height: 130px;
}

.logo-type {
    font-family: 'Norse', sans-serif;
    color: #ffffff;
    font-size: 6rem; /* 96px */
    font-weight: normal;
}

.panel {
    border:1px solid purple;
}

.panel.heading {
    flex: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    

    /* max-width: 62ch; */
    /* padding-left: 6ch; */

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
    
}

.panel.form {
    flex: content;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 2rem;

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: var(--color-form-header);
}

.panel.footer {
    flex: auto;
}

.panel.heading > p.heading-text {

    flex: 0;
    max-width: 55ch;
    padding-bottom: 2rem;

}

.panel.heading > p.heading-cta {

    flex: 0;
    padding-bottom: 2rem;

}

.panel.heading > em {
    font-style: italic;
}


.panel.form > h2 {
    font-size: 1.125rem;
    font-weight: normal;
}

.panel.form > form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.panel.form .form-field {
    display: flex;
    flex-direction: column;
}